html {
  font-size: 10px;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App,
.HomepageLayout {
  height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Bellota", cursive, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 400; // 400 is regular for font family.
  line-height: 1;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.main {
  width: 100%;
  height: calc(100% - 6.5rem -5.5rem);
  max-width: 1450px;
  padding: 0 10px;
  margin: 0 auto;
}
